.main-nav {
  padding: 20px 0;
}

.main-nav__list {
  padding: 15px 0;
  @include list-reset;
  text-align: center;
}

.main-nav__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-nav__link {
  font-size: 34px;
  font-family: $decor-font;
  color: $white-base;
  transition: opacity $transition-duration;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
