.page {
  height: 100%;
  font-family: $basic-font;
  line-height: 1.2;
}

.page__body {
  display: grid;
  align-content: start;
  min-width: 620px;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}
