.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__title {
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  font-family: $extra-font;
}

.social__list {
  @include list-reset;

  display: flex;
}

.social__item {
  margin-right: 20px;

  &:last-child{
    margin-right: 0;
  }
}

