// Colors
$black-base: #000000;
$white-base: #ffffff;
$dark-blue-base: #2e588b;
$main-nav-background: #293a5c;
$orange-base: #ff9400;
$blue-base: #44b5f0;
$blue-extra: #51bdf5;
$gray-base: #f1f3f5;
$placeholder-color: #313c39;

// Fonts

$basic-font: "Montserrat", "Arial", sans-serif;
$extra-font: "Museo Sans Cyrl", "Arial", sans-serif;
$decor-font: "Lifehack Sans", "Copperplate", fantasy;

// Viewports

//$mobile-width: 600px;
//
//$mobile-tablet: "(min-width: #{$mobile-tablet-width})";

// Transition

$transition-duration: 200ms;

// Other

$promo-back-width: 819px;
$promo-back-height: 773px;
$promo-back-offset: 70px;


